html {
    scroll-behavior: smooth;
  }

  #mybar{
    position:absolute;
    top: 90%;
    left:0;
    right:0;
    height:70px;
    background-color:#23272A;
    z-index: 3;
}
#bottombar{
    position:static;
    top:0;
    left:0;
    right:0;
    height:71px;
    background-color:#262626;
}

body {
  background-image: url("./untitled.png");
  background-attachment: fixed;
}

.button {
    position: relative;
    background-color: #00a2ff;
    border: none;
    font-size: 100%;
    color: #FFFFFF;
    padding: 20px;
    width: 150px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .button:hover {
      background-color: #007dc5;
      color: white;
  }

  .buttonf {
    position: relative;
    background-color: #808080;
    border: none;
    font-size: 100%;
    color: #FFFFFF;
    padding: 20px;
    width: 150px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .buttonf:hover {
      background-color: #575757;
      color: white;
  }

  .bigtext {
      color: #ffffff;
      font-size: 50px;
      font-family: sans-serif;
  }

  .subtext {
      color: #9e9e9e;
      font-size: 15px;
      font-family: sans-serif;
  }

  .normaltext {
    color: #ffffff;
    font-size: 45px;
    left: 20%;
    font-family: sans-serif;
    }

    .image {
        left: 10%;
    }

  .buttons a {
      float: center;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
  }

  hr.custom {
      width: 35%;
      border: 0;
      height: 3px;
      background: rgba(255, 255, 255, 0.63);
      opacity: 0.2;
  }

.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

#wrapper{
    position:absolute;
    right: 0%;
    width: 100%;
    top: 95%;
    background-color:#2b2e31
}
  .fade-in {
    animation: fadeIn ease 0.5s;
    -webkit-animation: fadeIn ease 0.5s;
    -moz-animation: fadeIn ease 0.5s;
    -o-animation: fadeIn ease 0.5s;
    -ms-animation: fadeIn ease 0.5s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}